/*CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Generic*/

body{
    background-color: rgb(179, 177, 177);
}
header{
    background-color: white;
}

img{
    width: 100px;
    height: 100px;
}

h1{
    font-family: sans-serif;
    font-weight: bolder;
    display: inline;
    font-size: 50px;
    height: 100px;
    bottom: 100px;
}

.container