/*CSS Reset*/

*{
    margin: 0;
    box-sizing: border-box;

}

/*Generic*/

body{
    background-color: rgb(125, 128, 145);
    font-family: sans-serif;
}
header{
    background-color: white;
}

#logo{
    height: 80px;
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    font-weight:900;
    display: inline;
    font-size: 40px;
    height: 100px;
    bottom: 100px;
    vertical-align: middle;
}

.container{
    width: 60%;
    background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 20%;
    }

#pulsante{
    background-color: dodgerblue;
    border: 0;
    margin-left: 3%;
    border-radius: 7px;
    color: white;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 18px;
}

#pulsante2{
    background-color: rgba(255, 255, 255, 0.726);
    border-color: gray;
    border-radius: 7px;
    padding: 4px;
    font-size: 19px; 
}
.h-main{
    margin-bottom: 5px;
}

ul{
    list-style: none;
}

li{
    margin-block: 20px;
    font-size: larger
}
h2{
    ;

}

.arrow{
   font-size: small;
   vertical-align:middle;
}

.green{
    height: 20px;
    width: 30px;
    background-color:seagreen;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.blue{
    height: 20px;
    width: 30px;
    background-color:dodgerblue;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.purple{
    height: 20px;
    width: 30px;
    background-color:rebeccapurple;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.orange{
    height: 20px;
    width: 30px;
    background-color:orange;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.pink{
    height: 20px;
    width: 30px;
    background-color:hotpink;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.light-green{
    height: 20px;
    width: 30px;
    background-color:yellowgreen;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

.done{
    color: green;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    display: inline;
    font-size: 10px;
    line-height: 15px;
    vertical-align: center;
    text-align: center;
    border-color: green;
    padding: 3px 3px;
    

}

.not-done{
    color: red;
    border-color: red;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    display: inline;
    font-size: 10px;
    line-height: 15px;
    vertical-align: center;
    text-align: center;
    padding: 3px 3px;
}